<main>
  <h1 class="main-title">Sign In</h1>
  <form class="log-in" method="POST" action="/login">
    <input type="hidden" name="_csrf" value={{ csrfToken }}>
    <section class="book-details-grid log-in-inputs">
      <label>Username: </label>
      <input autofocus type="text" name="username" >
      <label>Password: </label>
      <input type="password" name="password">
    </section>
    <button class="btn submit-btn" type="submit">Submit</button>
  </form>
  <br>
  <section class="registered">
    <p>Don't yet have an account?</p>
    <a href="/registration">
      <button class="btn register-btn">Register</button>
    </a>
  </section>
    <section class="registered">
    <p>Forgot your password?</p>
    <a href="/reset">
      <button class="btn btn-danger register-btn">Request Reset</button>
    </a>
  </section>
</main>