<main>
  <form method="POST" action="/registration">
    <label>Email: </label>
    <input name="email">
    <br>
    <label >Username: </label>
    <input name="username" >
    <br>
    <label>Password</label>
    <input name="password">
    <br>
    <button type="submit">Submit</button>
  </form>
</main>
