<main>
  <h1 class="login-title">Request An Account</h1>
  <form class="log-in" method="POST" action="/registration">
    <input type="hidden" name="_csrf" value={{ csrfToken }}>
    <section class="book-details-grid log-in-inputs">
      <label>Email: </label>
      <input autofocus type="text" name="email">
      <label >Username: </label>
      <input type="text" name="username" >
      <label>Password: </label>
      <input type="password" name="password">
    </section>
    <section class="reg-submit">
      <button class="btn register-btn" type="submit">Submit</button>
    </section>
  </form>
</main>
