<main>
  <h2>Verify New User</h2>
  <article class="book-details-grid verify">
    <p>Email Address: </p>
    <p>{{ user.email }}</p>
    <p>Username:</p>
    <p>{{ user.username }}</p>
  </article>
  <section class="approve-deny-btns verify">
    <form class="log-in" method="POST" action={{ getTokenURL token }}>
      <input type="hidden" name="_csrf" value={{ csrfToken }}>
      <button class="btn approve-deny" type="submit">Approve</button>
    </form>
    {{> deleteForm url=(getTokenURL token) text="Deny" class="approve-deny" }}
  </section>
</main>