<main>
  <h2>Verify New User</h2>
  <article class="book-details-grid verify">
    <p>Email Address: </p>
    <p>email {{ user.email }}</p>
    <p>Username:</p>
    <p>user {{ user.username }}</p>
  </article>
  <form class="log-in" method="POST" action="/reset-confirm/{{ token }}">
    <input type="hidden" name="_csrf" value={{ csrfToken }}>
    <section class="approve-deny-btns">
      <button class="btn " type="submit">Approve</button>
      <a href="/">
        <button class="btn btn-danger" type="button">Deny</button>
      </a>
    </section>
  </form>
</main>