<main>
  <h2>Search Books</h2>
  <form action="/books" method="GET">
    <section class="label-n-input">
      <label>Title</label>
      <input class="text-box" name="title" value={{ searchOptions.title }}>
    </section>
    <section class="split-inputs">
      <section class="label-n-input">
        <label>Published After</label>
        <input class="text-box" name="publishAfter">
      </section>
      <section class="label-n-input">
        <label>Published Before</label>
        <input class="text-box" name="publishBefore">
      </section>
    </section>
    {{> submitSearch }}
  </form>
</main>