<main>
  <h2>New Book</h2>
  <form method="POST" action="/books">
    {{> bookForm book=book}}
    <section class="form-submit-btns">
      <a href="/books">
        <button class="btn btn-danger" type="button">Cancel</button>
      </a>
      <button class="btn" type="submit">Create</button>
    </section>
  </form>
</main>