<main>
  <h1 class="main-title">New Book</h1>
  <form method="POST" action="/books">
    {{> bookForm book=book csrfToken=csrfToken }}
    <section class="form-submit-btns">
      <a href="/books">
        <button class="btn btn-danger" type="button">Cancel</button>
      </a>
      <button class="btn" type="submit">Create</button>
    </section>
  </form>
</main>