<input type="hidden" name="_csrf" value={{ csrfToken }}>
<section class="label-n-input">
  <label>Name</label>
  <input autofocus class="text-box" type="text" name="name" value="{{ author.name }}">
</section>
