<footer>
  <p>Star Wars Novels Holocron | Commemorating the Star Wars Expanded Universe</p>
  <p>STAR WARS is the property of The Walt Disney company and is used here under fair use laws</p>
</footer>