<header>
  <nav class="header-nav">
    <article>
      <h2>EU Holocron</h2>
    </article>
    <article class="nav-links">
      <a>Books</a>
      <a>Add Books</a>
      <a>Authors</a>
      <a>Add Authors</a>
    </article>
  </nav>
</header>