<header>
  <nav class="header-nav">
    <article>
      <h2>
        <a class="title" href="/">Star Wars Novels Holocron</a>
      </h2>
    </article>
    <article class="nav-links">
      <a href="/books">Books</a>
      <a href="/books/new">Add Books</a>
      <a href="/authors">Authors</a>
      <a href="/authors/new">Add Authors</a>
    </article>
  </nav>
</header>