<header>
  <nav class="header-nav">
    <article class="title-container">
      <h2>
        <a class="title" href="/">Star Wars Novels Holocron</a>
      </h2>
    </article>
    <article class="nav-links">
      <a href="/books">Books</a>
      {{#if isAuth }}
        <a href="/books/new">Add Books</a>
      {{/if }}
      <a href="/authors">Authors</a>
      {{#if isAuth }}
        <a href="/authors/new">Add Author</a>
      {{/if }}
      {{#if isAuth }}
      <a href="/logout">Log Out</a>
      {{else }}
      <a href="/login">Log In</a>
      {{/if }}
    </article>
  </nav>
</header>