<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta tags for browser formatting -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap" rel="stylesheet">

    <!-- FilePond dependencies -->
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
    <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>

    <!-- CSS stylesheets -->
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css">

    <!-- Import scripts from public folder -->
    <script defer type="text/javascript" src="/javascripts/stars.js"></script>
    <script defer type="text/javascript" src="/javascripts/fileUpload.js"></script>

    <!-- Tab Title -->
    <title>EU Holocron</title>
  </head>

  <!-- Render header and body views to UI -->
  <body id="body">
    {{> header }}
    {{> errorMessage }}
    {{{ body }}}
    {{> footer }}
  </body>
</html>