{{> header isAuth=isAuth }}
{{> errorMessage }}
<main class="err-view">
  <section class="img-container">
    <h1 class="main-title">{{ errorMsg }}</h1>
    <br>
    <img class="error-img" src={{ img }}>
  </section>
</main>