.authors-container {
  margin: 3rem;
}

.author-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.author-name {
  font-size: 1.5rem;
}

.author-btns {
  display: flex;
}

/* Mobile device re-sizing */
@media screen and (max-width: 380px) {
  .authors-container {
    margin: 1rem 0.5rem;
  }

  .author-name {
    font-size: 1rem;
  }

}