::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

form {
  margin-left: 5rem;
  width: 95%;
}

.split-inputs {
  display: flex;
}

.split-inputs > * {
  width: 48%;
}

label {
  font-size: 1.25rem;
}

.label-n-input {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  margin-left: 2rem;
  flex-grow: 1;
  flex-basis: 0;
}

.label-n-input-no-grow {
  flex-grow: 0;
}

input, .select-box {
  margin-top: .25rem;
}

.text-box, .select-box, textarea, input {
  background-color: var(--color-input-background);
  border: 1px solid white;
  border-radius: .25rem;
  color: white;
  font-family: 'Sawarabi Gothic', sans-serif;
  font-size: large;
  height: 2rem;
}

textarea {
  height: 100%;
  resize: none;
}

.select-box:focus {
  border-color: white;
}

.select-box > option {
  background-color: black;
}

.filepond--root {
  font-family: 'Sawarabi Gothic', sans-serif;
  margin-bottom: 0;
}

.filepond--panel-root {
  border: 1px solid white;
  background-color: var(--color-input-background);
}

.filepond--drop-label {
  color: white;
  font-size: inherit;
}

.log-in {
  display: flex;
  flex-direction: column;
  max-width: 45%;
}

.verify {
  max-width: 50%;
}

.submit-btn {
  align-self:flex-end;
  justify-self: flex-end;
  margin-top: 1rem;
  margin-right: 0;
}

.log-in-inputs > label {
  margin-top: 3px;
}

.registered {
  display: flex;
  justify-content: flex-end;
  max-width: 45%;
}

.register-btn {
  margin-right: 0;
  margin-left: 1rem;
}

.reg-submit {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

/* Mobile device re-sizing */
@media screen and (max-width: 380px) {
  .split-inputs {
    align-items: center;
    flex-direction: column;
    margin: 0;
  }

  .split-inputs > * {
    width: 100%;
  }

  .label-n-input {
    margin: 0.5rem 0;
  }

  .log-in, .registered {
    max-width: 95%;
  }

  .registered {
    max-width: 100%;
  }

}