header {
  margin: 0 2rem;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links > *, .title {
  color: var(--color-text-light);
  padding: 1rem;
  text-decoration: none;
}