@import "./variables.css";
@import "./header.css";
@import "./author.css";
@import "./buttons.css";

:root {
  color: var(--color-text-light);
  font-family: 'Sawarabi Gothic One', sans-serif;
}

body {
  background: linear-gradient(to right, var(--color-background-dark), var(--color-background-light));
}

main {
  margin: 5rem;
}

main > * {
  margin: 2rem 0;
}

.star {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: white;
  z-index: -1;
}

.label-n-input {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

input {
  margin-top: .25rem;
}

.text-box {
  background-color: var(--color-input-background);
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  font-size: large;
}