@import "./variables.css";
@import "./header.css";
@import "./authors.css";
@import "./buttons.css";
@import "./books.css";
@import "./forms.css";

:root {
  color: var(--color-text-light);
  font-family: 'Sawarabi Gothic One', sans-serif;
}

body {
  background: linear-gradient(to right, var(--color-background-dark), var(--color-background-light));
}

main {
  margin: 5rem;
}

main > * {
  margin: 2rem 0;
}

.star {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: white;
  z-index: -1;
}