{{> header isAuth=isAuth }}
{{> errorMessage }}
<main>
  <h1 class="main-title">Edit Author</h1>
  <form method="POST" action="/authors/{{ author._id }}?_method=PUT">
    {{> authorForm author=author csrfToken=csrfToken }}
    <section class="form-submit-btns">
      <a href="/authors/{{ author._id }}">
        <button class="btn btn-danger" type="button">Cancel</button>
      </a>
      <button class="btn" type="submit">Update</button>
    </section>
  </form>
</main>