{{> header isAuth=isAuth }}
{{> errorMessage }}
<main>
  <h1 class="main-title">Search Authors</h1>
  <form action="/authors" method="GET" class="form">
    <section class="label-n-input">
      <label>Name</label>
      <input autofocus class="text-box" type="text" name="name" value={{ searchOptions.name }}>
    </section>
    {{> submitSearch }}
  </form>
  <br>
  <section class="authors-container">
    {{#each authors }}
      <section class="author-row">
        <p class="author-name">{{ this.name }}</p>
        <section class="author-btns">
          <a href="/authors/{{ this._id }}">
            <button class="btn">View</button>
          </a>
          {{#if ../isAuth }}
            {{> editButton url=(getURL this true) }}
            {{> deleteForm url=(getURL this true) csrfToken=../csrfToken }}
          {{/if }}
        </section>
      </section>
    {{/each }}
  </section>
</main>