<main>
  <h2>Search Authors</h2>
  <form action="/authors" method="GET" >
    <section class="label-n-input">
      <label>Name</label>
      <input class="text-box" type="text" name="name" value={{ searchOptions.name }}>
    </section>
    <section class="form-submit-btns">
      <button class="btn" type="submit">Search</button>
    </section>
  </form>
  <br>
  <section class="authors-container">
    {{#each authors }}
      <section class="author-row">
        <section class="author-name">{{ this.name }}</section>
        <section class="author-btns">
          <a href="/authors/{{ this._id }}">
            <button class="btn">View</button>
          </a>
          {{> editButton url=(getURL this true) }}
          {{> deleteForm url=(getURL this true) }}
        </section>
      </section>
    {{/each }}
  </section>
</main>