<main>
  <section>
    <h2>{{ author.name }}</h2>
    {{#if isAuth }}
      <section class="author-btns">
        {{>editButton url=(getURL author true) }}
        {{>deleteForm url=(getURL author true) csrfToken=csrfToken }}
      </section>
    {{/if }}
  </section>
  <section class="authors-container">
    <h2>Books By Author</h2>
    <section>
      {{> bookGrid books=books }}
    </section>
  </section>
</main>