{{> header isAuth=isAuth }}
{{> errorMessage }}
<main>
  <section>
    <h1 class="main-title">{{ author.name }}</h1>
    {{#if isAuth }}
      <section class="author-btns">
        {{>editButton url=(getURL author true) }}
        {{>deleteForm url=(getURL author true) csrfToken=csrfToken }}
      </section>
    {{/if }}
  </section>
  <br>
  <section class="authors-container">
    <h2 class="main-title">Books By Author</h2>
    <section>
      {{> bookGrid books=books }}
    </section>
  </section>
</main>